* {}

html,
body {
    text-align: center;
}

body {
    background: #ffffff;
}

header {
    border-bottom: none;
    position: static;
}

#logo {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

nav {
    width: 100%;
}

nav a {}

nav a:first-child {}

#main-container {
    padding: 0;
}

#main-section,
#sidebar {
    border: none;
    float: none;
    margin: 0 auto;
}

#main-section {}

#sidebar {
    clear: both;
    padding-top: 0px;
}

.social {}

footer {}

.container {
    width: 100%;
}

h1,
h2,
h3 {}

h2,
h3 {}

h1 {
    border-bottom: none;
    text-align: center;
    padding-bottom: 0;
}

h2 {
    border-bottom: none;
    padding-bottom: 0;
}

p {
    text-align: justify;
}


/* index.html */

#bio-image {
    float: none;
    margin-right: 0;
}

#bio-description {
    margin-top: 1em;
}


/* portfolio.html */

.example {}

.example:nth-child(even) {}

.example:last-child {}

.example img {}

.example h3 {}


/* contact.html*/

.form li {}

input[type="text"],
input[type="email"],
textarea {}

textarea {}

input[type="submit"] {}
