* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    line-height: 1.2;
}

body {
    font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Baloo Chettan', cursive;
    margin-bottom: 2%;
    font-size: 2em;
}

td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

.directions {
    font-size: 1.5em;
}

.layer {
    width: 100%;
    height: 400%;
    position: absolute;
}

.info-box {
    line-height: 30px;
    background-color: #ffffff;
    opacity: .8;
    border-radius: 25px;
    font-weight: 600;
    padding: 1em;
    display: block;
}

.icon {
    margin-right: 15px;
}

.clearfix:after {
   content: "";
   display: block;
   clear: both;
}

.glyphicon-circle-arrow-down {
    margin-right: 5px;
}

.in-view {
    -ms-transform: translateX(-1200px);
    -webkit-transform: translateX(-1200px); 
    transform: translateX(-1200px);
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

#l1 {
    background-color: #000000;
}

#l2 {
    background: url('space1.gif');
}

#l3 {
    background: url('space2.gif');
}

#name {
    font-size: 2em;
    color: #ee402f;
    font-family: 'Monoton', cursive;
}

#container {
    max-width: 980px;
    margin: 6% auto;
}

#sign {
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
}

#bio {
    margin: 600px auto 0 1200px;
    width: 100%;
}

#bio-image {
    width: 200px;
    border-radius: 25px;
    float: left;
    margin-right: 15px;
}

#bio-description {
    text-align: justify;
}

#directions {
    color: #ee402f;
    margin-top: 50px;
    font-size: 18px;
}

#arrow {
    opacity: .8;
}

#astronaut {
    width: 300px;
    margin-left: 50%;
    margin-top: 20%;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#rocket {
    margin:500px auto 0 auto;
    width: 350px;
}

#dev-tools {
}
