* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-family: 'Baloo Chettan', cursive;
    font-size: 2em;
}

td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

.layer {
    width: 100%;
    height: 400%;
    position: absolute;
}

.info-box {
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: 600;
    padding: 20px;
    display: block;
}

.directions {
    color: #ee402f;
    margin-top: 50px;
    font-size: 18px;
}

.icon {
    margin-right: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.glyphicon-circle-arrow-down {
    margin-right: 5px;
}

.slide-left {
    position: relative;
    animation: slide-left .8s linear forwards;
}
.slide-right {
    position: relative;
    animation: slide-right .8s linear forwards;
}

@keyframes slide-left {
    from {
        left: 1200px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes slide-right {
    from {
        right: 1200px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

#l1 {
    background-color: #000000;
}

#l2 {
    background: url('space1.gif');
}

#l3 {
    background: url('space2.gif');
}

#name {
    font-size: 4em;
    color: #ee402f;
    font-family: 'Monoton', cursive;
}

#container {
    max-width: 980px;
    margin: 0 auto;
}

#sign {
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
}

#bio {
    margin: 550px auto 0 auto;
    width: 980px;
    opacity: 0;
}
#welcome {
    margin-top: 100px;
}

#bio-image {
    width: 200px;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}

#bio-description {
    text-align: justify;
}

#arrow-container {
    height: 300px;
    margin: 0 auto;
}
#arrow-directions {
    color: #ffffff;
    font-size: 18px;
}

#arrow {
    font-size: 150px;
    color: #f47835;
    animation: arrow 2s ease-in-out .8s infinite;
}

@keyframes arrow {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 100px;
    }
}

#astronaut {
    width: 300px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-top: 250px;
    margin-left: 600px;
}

#rocket {
    margin: 500px auto 0 auto;
    width: 350px;
}

#dev-tools {
    width: 980px;
    opacity: 0;
}
