* {}

html,
body {}

body {}

header {}

#logo {
    font-size: 26px;
}

nav {}

nav a {}

nav a:first-child {}

#main-container {}

#main-section,
#sidebar {}

#main-section {
    width: 100%;
}

#sidebar {}

.social {}

footer {}

.container {}

h1,
h2,
h3 {}

h2,
h3 {}

h1 {
    font-size: 26px;
}

h2 {}

p {}


/* index.html */

#bio-image {
    width: 250px;
}

#bio-description {}


/* portfolio.html */

.example {
    float: none;
    margin: 30px auto;
    width: 250px;
}

.example:nth-child(even) {
    float: none;
}

.example:last-child {}

.example img {}

.example h3 {}


/* contact.html*/

.form li {}

input[type="text"],
input[type="email"],
textarea {}

textarea {}

input[type="submit"] {}
