* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

h2 {
    color: #ffffff;
    font-family: 'Baloo Chettan', cursive;
    font-size: 2em;
}

td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

.layer {
    width: 100%;
    height: 500%;
    position: absolute;
}

.info-box {
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: 600;
    padding: 20px;
    display: block;
    margin-top: 10px;
}

.container {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    clear: both;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

p.directions {
    color: #ee402f;
    margin: 50px auto 0 auto;
    font-size: 18px;
}

.icon {
    margin-right: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.project {
    opacity: 1;
    position: relative;
    cursor: pointer;
}

.project:hover {
    opacity: .8;
}

.project:nth-child(even) {
}

.thumbnail {
    width: 450px;
    border-radius: 25px;
    border: 3px solid #ddd;
}

.glyphicon-circle-arrow-down {
    margin-right: 5px;
}

.slide-left {
    position: relative;
    animation: slide-left .6s linear forwards;
}

.slide-right {
    position: relative;
    animation: slide-right .8s linear forwards;
}

@keyframes slide-left {
    from {
        left: 800px;
        visibility: hidden;
    }
    to {
        left: 0;
        visibility: visible;
    }
}

@keyframes slide-right {
    from {
        right: 800px;
    }
    to {
        right: 0;
    }
}

#l1 {
    background-color: #000000;
}

#l2 {
    background: url("../images/space1.png");
}

#l3 {
    background: url("../images/space2.png");
    height: 700%;
}

#name {
    font-size: 4em;
    color: #ee402f;
    font-family: 'Monoton', cursive;
}

#sign {
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
}

#bio {
    margin: 620px auto 0 auto;
    width: 980px;
    visibility: hidden;
}

#welcome {
    margin-top: 100px;
}

#bio-image {
    width: 200px;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
    border: 3px solid #ddd;
}

#bio-description {
    text-align: justify;
}

#arrow-container {
    height: 250px;
    margin: 0 auto;
}

#arrow-directions {
    color: #ffffff;
    font-size: 18px;
}

#arrow {
    font-size: 150px;
    color: #f47835;
    animation: arrow 2s ease-in-out .8s infinite;
}

@keyframes arrow {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 50px;
    }
}

#astronaut {
    position: relative;
    width: 300px;
    margin-top: 250px;
    margin-left: 600px;
}

#rocket {
    margin: 300px auto 0 auto;
    width: 250px;
}

#dev-tools {
    width: 980px;
    visibility: hidden;
    margin-top: 400px;
}

#tool-display {
    margin: 0 auto;
}

#ufo {
    margin-top: 400px;
}

#portfolio {
    margin-top: 400px;
    visibility: hidden;
}

#x-wing {
    margin-top: 400px;
}