* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    font-size: 20px;
}

body {
    font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #000000;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: .25em;
}

footer h2 {
    color: #ee402f;
}

h2 {
    color: #ffffff;
    font-family: 'Baloo Chettan', cursive;
    font-size: 2em;
}

a {
    text-decoration: none;
}

h3 {
    font-weight: 600;
    color: #000000;
    font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;

}
/*======================================================
============CLASSES=====================================
======================================================*/

.directions {
    color: #ee402f;
    margin: 1em auto 0 auto;
    font-size: .9em;
    width: 100%;
}

.layer {
    width: 100%;
    height: 500%;
    position: absolute;
}

.info-box {
    line-height: 1.5em;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: 600;
    padding: 1em;
    display: block;
    margin-top: .5em;
}

.container {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    clear: both;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.tool {
    width: 235px;
    padding: 15px;
    text-align: left;
    float: left;
}

.project {
    opacity: 1;
    position: relative;
    margin: 10px;
}

.project:hover {
    opacity: .8;
}

.thumbnail {
    width: 450px;
    border-radius: 25px;
    border: 3px solid #ddd;
    cursor: pointer;
}

.social {
    width: 75px;
    margin: 20px auto;
}

.social:hover {
    cursor: pointer;
    opacity: .8;
}

.slide-left {
    position: relative;
    animation: slide-left .6s linear forwards;
}

.slide-right {
    position: relative;
    animation: slide-right .8s linear forwards;
}

.tie-fighter-fly {
    position: relative;
    animation: tie-fighter 1.5s linear forwards;
}

.x-wing-fly {
    position: relative;
    animation: x-wing 1.5s linear forwards;
}

.ufo-fly {
    position: relative;
    animation: ufo-fly 2s cubic-bezier(0, 1.54, 1, -0.18) forwards;
}

.rocket-blast {
    animation: rocket-blast 1s cubic-bezier(0.63, 0.03, 1, 1) forwards;
}

/*======================================================
============IDs=========================================
======================================================*/

#l1 {
    background-color: #000000;
}

#l2 {
    background: url("../images/space1.png");
}

#l3 {
    background: url("../images/space2.png");
    height: 700%;
}

#basic-portfolio {
    color: #ffffff;
    font-size: .9em;
    margin: 0;
}

#basic-redirect {
    text-decoration: none;
    color: #ee402f;
}

#welcome {
    margin-top: 80px;
}

#name {
    font-size: 4em;
    color: #ee402f;
    font-family: 'Monoton', cursive;
}

#arrow-container {
    height: 250px;
    margin: 0 auto;
}

#arrow-directions {
    color: #ffffff;
    font-size: .9em;
    font-weight: 600;
}

#arrow {
    font-size: 8em;
    color: #f47835;
    animation: arrow 2s ease-in-out .8s infinite;
}

#astronaut {
    position: relative;
    width: 300px;
    margin-top: 250px;
    margin-left: 600px;
}

#bio {
    margin: 620px auto 0 auto;
    max-width: 980px;
    visibility: hidden;
}

#bio-image {
    width: 200px;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
    border: 3px solid #dfdfdf;
}

#bio-description {
    text-align: justify;
}

#rocket {
    margin-top: 700px;
    width: 250px;
}

#dev-tools {
    margin-top: 250px;
    visibility: hidden;
}

#tool-display {
    margin: 0 auto;
}

#ufo {
    margin-top: 400px;
    visibility: hidden;
    width: 800;
}

#tie-fighter {
    visibility: hidden;
    margin-top: 200px;
}

#x-wing {
    visibility: hidden;
    margin-top: 200px;
}

#shooting-star {
    position: relative;
    visibility: hidden;
    top: 134px;
    animation: shooting-star .8s linear .8s forwards;
}

#contact {
    visibility: hidden;
    margin-top: 250px;
}

#contact-1 {
    text-align: left;
}

#final-message {
    margin: 0 auto 1em 0;
}

#restart {
    text-decoration: none;
    color: #ee402f;
    font-size: .9em;
}

#copyright {
    color: #ffffff;
    font-size: .9em;
}

/*======================================================
============KEYFRAMES===================================
======================================================*/

@keyframes shooting-star {
    from {
        right: 1100px;
        visibility: hidden;
    }
    to {
        right: -1100px;
        visibility: visible;
    }
}

@keyframes slide-left {
    from {
        left: 800px;
        visibility: hidden;
    }
    to {
        left: 0;
        visibility: visible;
    }
}

@keyframes slide-right {
    from {
        right: 800px;
    }
    to {
        right: 0;
    }
}

@keyframes arrow {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 50px;
    }
}

@keyframes rocket-blast {
    from {
        margin-top: 700px;
        margin-bottom: 0;
        visibility: visible;
    }
    to {
        margin-top: 0;
        margin-bottom: 200px;
        visibility: hidden;
    }
}

@keyframes ufo-fly {
    from {
        right: -1100px;
        visibility: hidden;
        width: 50px
    }
    to {
        right: 1100px;
        visibility: visible;
        width: 800px;
    }
}

@keyframes tie-fighter {
    from {
        left: -1100px;
        visibility: hidden;
        width: 30px
    }
    to {
        left: 1100px;
        visibility: visible;
        width: 480px;
    }
}

@keyframes x-wing {
    from {
        left: -1100px;
        visibility: hidden;
        width: 50px
    }
    to {
        left: 1100px;
        visibility: visible;
        width: 800px;
    }
}

/*======================================================
=============MEDIA=QUERIES==============================
======================================================*/

@media only screen and (min-width: 1366px) {
    @keyframes shooting-star {
        from {
            right: 2000px;
            visibility: hidden;
        }
        to {
            right: -2000px;
            visibility: visible;
        }
    }
    @keyframes ufo-fly {
        from {
            right: -2000px;
             visibility: hidden;
             width: 50px
        }
        to {
            right: 2000px;
            visibility: visible;
            width: 800px;
        }
    }
    @keyframes tie-fighter {
        from {
            left: -2000px;
             visibility: hidden;
             width: 30px
        }
        to {
            left: 2000px;
            visibility: visible;
            width: 480px;
        }
    }
    @keyframes x-wing {
        from {
            left: -2000px;
             visibility: hidden;
             width: 50px
        }
        to {
            left: 2000px;
            visibility: visible;
            width: 800px;

        }
    }
}

@media only screen and (max-width: 980px) {
    #shooting-star {
        top: 123px;
    }
    #name {
        font-size: 3em;
    }
    #astronaut {
        margin-top: 325px;
        margin-left: 400px;
    }
    footer h2 {
        font-size: 1.5em;
    }
    .project {
        margin: 10px auto 10px auto;
    }
    .thumbnail {
        width: 75%;
    }
    .info-box {
        width: 96%;
        margin: .5em 2% 0 2%;
    }
    #tool-display {
        width: 705px;
    }
}

@media only screen and (max-width: 740px) {
    footer h2 {
        font-size: 1.25em;
    }
    .layer {
        height: 900%;
    }
    #shooting-star {
        top: 123px;
    }
    #arrow {
        font-size: 5em;
    }
    #l3 {
        height: 1300%;
    }
    #bio-image {
        float: none;
    }
    #tool-display {
        width: 470px;
    }
    #astronaut {
        margin-top: 150px;
        margin-left: 750px;
    }
    @keyframes arrow {
        from {
            margin-top: 0;
        }
        to {
            margin-top: 25px;
        }
    }
}

@media only screen and (max-width: 660px) {
    h2 {
        font-size: 1.5em;
    }
    #shooting-star {
        top: 107px;
    }
    #name {
        font-size: 2.5em;
    }
                @keyframes shooting-star {
        from {
            right: 800px;
            visibility: hidden;
        }
        to {
            right: -800px;
            visibility: visible;
        }
    }
    @keyframes ufo-fly {
        from {
            right: -800px;
             visibility: hidden;
             width: 50px;
        }
        to {
            right: 800px;
            visibility: visible;
            width: 800px;
        }
    }
    @keyframes tie-fighter {
        from {
            left: -800px;
             visibility: hidden;
             width: 30px;
        }
        to {
            left: 800px;
            visibility: visible;
            width: 480px;
        }
    }
    @keyframes x-wing {
        from {
            left: -800px;
             visibility: hidden;
             width: 50px;
        }
        to {
            left: 800px;
            visibility: visible;
            width: 800px;
        }
    }
}

@media only screen and (max-width: 540px) {
    footer h2 {
        font-size: .75em;
    }
    .info-box {
        font-size: .9em;
    }
    #shooting-star {
        top: 80px;
    }
    #welcome {
        font-size: 1em;
    }
    #tool-display {
        width: 235px;
    }
    #name {
        font-size: 1.5em;
    }
    #arrow-directions {
        font-size: .6em;
    }
    #basic-portfolio,
    #copyright {
        font-size: .6em;
    }
}
