* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

h2 {
    color: #ffffff;
    font-family: 'Baloo Chettan', cursive;
    font-size: 2em;
}

td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
}

footer h2 {
    color: #ee402f;
}

p.directions {
    color: #ee402f;
    margin: 40px auto 0 auto;
    font-size: 18px;
}

.layer {
    width: 100%;
    height: 500%;
    position: absolute;
}

.info-box {
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: 600;
    padding: 20px;
    display: block;
    margin-top: 10px;
}

.container {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    clear: both;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    margin-right: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.project {
    opacity: 1;
    position: relative;
    margin: 10px;
}

.project:hover {
    opacity: .8;
}

.project:nth-child(even) {}

.thumbnail {
    width: 450px;
    border-radius: 25px;
    border: 3px solid #ddd;
    cursor: pointer;
}

.glyphicon-circle-arrow-down {
    margin-right: 5px;
}

.social {
    width: 75px;
}

.social:hover {
    cursor: pointer;
    opacity: .8;
}

.slide-left {
    position: relative;
    animation: slide-left .6s linear forwards;
}

.slide-right {
    position: relative;
    animation: slide-right .8s linear forwards;
}

.tie-fighter-fly {
    position: relative;
    animation: tie-fighter 1.5s cubic-bezier(0, 0, 0.47, 0.88) forwards;
}

.x-wing-fly {
    position: relative;
    animation: x-wing 1.5s cubic-bezier(0, 0, 0.47, 0.88) forwards;
}

.ufo-fly {
    position: relative;
    animation: ufo-fly 2s cubic-bezier(0, 1.54, 1, -0.18) forwards;
}

.rocket-blast {
    animation: rocket-blast 1s cubic-bezier(0.63, 0.03, 1, 1) forwards;
}

#l1 {
    background-color: #000000;
}

#l2 {
    background: url("../images/space1.png");
}

#l3 {
    background: url("../images/space2.png");
    height: 700%;
}

#name {
    font-size: 4em;
    color: #ee402f;
    font-family: 'Monoton', cursive;
}

#sign {
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
}

#bio {
    margin: 620px auto 0 auto;
    max-width: 980px;
    visibility: hidden;
}

#welcome {
    margin-top: 100px;
}

#bio-image {
    width: 200px;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
    border: 3px solid #dfdfdf;
}

#bio-description {
    text-align: justify;
}

#arrow-container {
    height: 250px;
    margin: 0 auto;
}

#arrow-directions {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

#arrow {
    font-size: 150px;
    color: #f47835;
    animation: arrow 2s ease-in-out .8s infinite;
}

#astronaut {
    position: relative;
    width: 300px;
    margin-top: 250px;
    margin-left: 600px;
}

#rocket {
    margin-top: 700px;
    width: 250px;
}

#dev-tools {
    margin-top: 250px;
    visibility: hidden;
}

#tool-display {
    margin: 0 auto;
}

#ufo {
    margin-top: 400px;
    visibility: hidden;
    width: 800;
}

#tie-fighter {
    visibility: hidden;
    margin-top: 200px;
}

#x-wing {
    visibility: hidden;
    margin-top: 200px;
}

#shooting-star {
    position: relative;
    visibility: hidden;
    top: 5px;
    animation: shooting-star .8s linear .8s forwards;
}

#contact {
    visibility: hidden;
    margin-top: 250px;
}

#contact-1 {
    text-align: left;
}

#contact-2 {

}

#final-message {
    margin: 50px auto 0 auto;
}

#restart {
    text-decoration: none;
    color: #ee402f;
    margin: 50px auto 0 auto;
    font-size: 18px;
}

#copyright {
    color: #ffffff;
    font-size: 18px;
}
@keyframes shooting-star {
    from {
        right: 1400px;
        visibility: hidden;
    }
    to {
        right: -1400px;
        visibility: visible;
    }
}

@keyframes slide-left {
    from {
        left: 800px;
        visibility: hidden;
    }
    to {
        left: 0;
        visibility: visible;
    }
}

@keyframes slide-right {
    from {
        right: 800px;
    }
    to {
        right: 0;
    }
}

@keyframes arrow {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 50px;
    }
}

@keyframes rocket-blast {
    from {
        margin-top: 700px;
        margin-bottom: 0;
        visibility: visible;
    }
    to {
        margin-top: 0;
        margin-bottom: 200px;
        visibility: hidden;
    }
}

@keyframes ufo-fly {
    from {
        right: -1400px;
        visibility: hidden;
        width: 50px
    }
    to {
        right: 1400px;
        visibility: visible;
        width: 800px;
    }
}

@keyframes tie-fighter {
    from {
        left: -1400px;
        visibility: hidden;
        width: 30px
    }
    to {
        left: 1400px;
        visibility: visible;
        width: 480px;
    }
}

@keyframes x-wing {
    from {
        left: -1400px;
        visibility: hidden;
        width: 50px
    }
    to {
        left: 1400px;
        visibility: visible;
        width: 800px;
    }
}
